# .gitignore for Grails 1.2 and 1.3

# web application files
/BiblioJ/web-app/WEB-INF/classes

# default HSQL database files for production mode
/BiblioJ/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/BiblioJ/stacktrace.log
/BiblioJ/test/reports
/BiblioJ/logs

# project release file
/BiblioJ/*.war

# plugin release files
#/BiblioJ/*.zip
#/BiblioJ/plugin.xml

# older plugin install locations
#/BiblioJ/plugins
#/BiblioJ/web-app/plugins

# "temporary" build files
/BiblioJ/target

# Workspace metadata
.metadata

# RemoteSystemTempFiles
.project